<!DOCTYPE html>
<html>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <head>
        <link rel="stylesheet" href="styles.css">
        <title>upload image</title>
    </head>
    <body>
            <form action="{{ url_for('uploadApi')}}" method="post" enctype='multipart/form-data' >
                <div class="form-group">
                    <label>key:</label>
                    <input type="text" name="key" class="form-control"/>
                </div>

                <div class="form-group" >
                    <label>upload file:</label>
                    <input type=file name = "file"/>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            {% if success %}
                <div>
                    successfully upload
                </div>                
            {% endif %}  
            {% if success == False %}
            <div>
                fail to upload
            </div>
            {% endif %} 

            
    <body> 

   
</html>