<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
    />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{url_for('main')}} ">Photo APP</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                {% if not success %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}"
                        >Log in
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('signup')}}"
                        >Sign Up
                    </a>
                </li>
                {% endif %} {% if success %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('gallery')}}"
                        >Gallery
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('upload')}}"
                        >Upload
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('show')}}"
                        >Show Image</a
                    >
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('getkeys')}}"
                        >ShowAllKeys
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('showImageByLabel')}}"
                        >ShowImageByLabel
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('config')}}"
                        >ConfigMem
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('signout')}}"
                        >Sign Out
                    </a>
                </li>
                {% endif %}
                
            </ul>
        </div>
    </nav>
    <section class="text-center text-lg-start">
        <style>
            .rounded-t-5 {
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
            }

            @media (min-width: 992px) {
                .rounded-tr-lg-0 {
                    border-top-right-radius: 0;
                }

                .rounded-bl-lg-5 {
                    border-bottom-left-radius: 0.5rem;
                }
            }
        </style>
        <div class="card mb-3">
            <div class="row g-0 d-flex align-items-center">
                <div class="col-lg-4 d-none d-lg-flex">
                    <img
                        src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg"
                        alt="Trendy Pants and Shoes"
                        class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"
                    />
                </div>
                <div class="col-lg-8">
                    <div class="card-body py-5 px-md-5">
                        <form
                            action="{{ url_for('confirm') }}"
                            method="post"
                            enctype="multipart/form-data"
                        >
                            <!-- Email input -->

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input
                                    type="password"
                                    id="form2Example2"
                                    class="form-control"
                                    name="code"
                                />
                                <label class="form-label" for="form2Example2"
                                    >Confirmation Code</label
                                >
                            </div>

                            <!-- Submit button -->
                            <button
                                type="submit"
                                class="btn btn-primary btn-block mb-4"
                            >
                                Confirm your account
                            </button>
                        </form>
                        <form
                            action="{{ url_for('resendConfirm') }}"
                            method="post"
                        >
                            <button
                                type="submit"
                                class="btn btn-primary btn-block mb-4"
                            >
                                Resend Confirmation Code
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        ></script>
</body>
